body {
    align-items: center;
  background: cadetblue;
}
header{
    align-items: center;
}
.container {
    display: grid;
    width: 200px;
    height: 200px;
    grid-template-columns: auto auto ;
  }

  .block {
    display: flex;
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    font-weight: bold;
    border: 3px solid black;
  }

 #block1{
 background-color: green;
  }
  #block2{
    background-color: red;
 }
 #block3{
    background-color:yellow;
 }
 #block4{
    background-color:blue;
 }